<div class="main-container">
  <div class="sec-container">
    <% @restaurantes.each do |restaurante|%>
      <%=    link_to [restaurante, :menus] do %>
        <div class="card-link-container">
          <p class="card-link"><%= restaurante.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
