<div class="main-container">
  <div class="sec-container">
    <% Menu.all.each do |menu|%>
      <%=    link_to [menu] do %>
        <div class="card-link-container">
          <p class="card-link"><%= menu.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>