<%=    link_to [:menus] do %>
  <div class="back-arrow back-arrow-page">
    <i class="fas fa-arrow-left"></i>
  </div>
<% end %>

<% if @menu.meal? %>
  <%= render 'shared/menu_meal_show' %>
<% elsif @menu.drink? %>
  <%= render 'shared/menu_drink_show' %>
<% end %>
