// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

$background-color: rgba(10, 25, 47, 0.85);
$primary-color: rgb(100, 255, 218);
$secondary-color: rgb(186, 197, 225);
$third-color: rgb(63, 102, 193);

$white: rgb(251, 251, 251);
$black: rgba(10, 25, 47, 0.85);
