// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;

$background-color: rgba(10, 25, 47, 0.85);
$primary-color: #f2a753;
$secondary-color: #ffc481;
$third-color: #1c3a78;
$light-orange: #ffc48144;
$lighter-orange: #ffc48123;

$white: rgb(251, 251, 251);
$black: rgb(16, 16, 16);
