.cartas-background {
  background-color: $lighter-orange;
  min-height: 100vh;
  height: fit-content;
}

.cartas-title {
  margin-bottom: 50px;
}

.cartas {
  margin-top: 80px;
  padding-top: 60px;
  text-align: center;
  h2 {
    font-weight: 600;
    font-size: 42px;
    font-family: $headers-font;
  }
}

.cartas-container {
  display: flex;
  justify-content: center;
  max-width: 1240px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.carta-container {
  flex-basis: 100%;
}

.cartas-row {
  display: flex;
  justify-content: center;
}

@media (max-width: 868px) {
  .cartas {
    padding-top: 0;
  }

  .cartas-container {
    margin-top: 0;
  }

  .cartas-row {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .cartas-title {
    display: none;
  }
}
