// Specific CSS for your home-page
.main-container {
  max-width: 1366px;
  margin: 0 auto;
}

.sec-container {
  padding: 15px;
}

ul li {
  list-style-type: none;
}

#wrapper {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}

a,
a:hover,
a:focus {
  text-decoration: none !important;
}

a {
  color: $black;
}
a:hover {
  color: $primary-color;
}
