.landing-background-image {
  background-image: url('https://res.cloudinary.com/dqstmox0s/image/upload/v1612364623/Restaurante%20website/sam-balye-H5K1Zj-8oF0-unsplash_ay66f6.jpg');
  background-size: cover;
  background-position-y: 44%;
  height: 100vh;
}

.landing-background-filter {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
}

.landing-container {
  height: calc(100vh - 80px);
}

.landing-block {
  text-align: center;
  padding: calc((100vh / 2) - 60px) 0;
}

.landing-block-logo {
  margin-bottom: 50px;
}

.second-section-background {
  background-image: url('https://res.cloudinary.com/dqstmox0s/image/upload/v1612365944/Restaurante%20website/Component_99_1_mancxb.jpg');
  height: fit-content;
  padding: 35px 0;
}

@media (min-width: 1000px) {
  .second-section-background {
    max-height: 500px;
  }
}

@media (max-width: 652px) {
  .landing-block-logo {
    img {
      height: 80px;
    }
  }

  .landing-background-image {
    background-size: 1250px;
    //   background-position-y: 42%;
    //   background-position-x: center;
  }
}

@media (max-width: 500px) {
  .second-section-background {
    background-image: url('https://res.cloudinary.com/dqstmox0s/image/upload/v1612365944/Restaurante%20website/Component_192_3_ohyoak.jpg');
    padding: 30px 0;
  }
}

@media (max-width: 400px) {
  .landing-block-logo {
    img {
      height: 70px;
    }
  }
}

@media (max-width: 340px) {
  .landing-block-logo {
    img {
      height: 60px;
    }
  }
}
