<div class="cartas-background">
    <div class="main-container">
        <div class="sec-container">
            <section class="cartas">
                <div class="cartas-title">
                    <h2>Nuestras cartas</h2>
                </div>
                <div class="cartas-container">
                    <div class="cartas-row">
                        <div class="carta-container">
                            <a href="#">
                                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1612449911/vinicius-benedit--1GEAA8q3wk-unsplash_wvfffv.jpg" alt="Sushi">
                                <div class="carta-name">
                                    <h4>Carta</h4>  
                                </div>
                            </a>
                        </div>
                        <div class="carta-container">
                            <a href="#">
                                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1612449912/mahmoud-fawzy-MNbOMvT1cUU-unsplash_qzhjuw.jpg" alt="Sushi">
                                <div class="carta-name">
                                    <h4>Menu</h4>  
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="cartas-row">
                        <div class="carta-container">
                            <a href="#">
                                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1612449912/jim-harris-zDlusnb3G3Q-unsplash_uxli6c.jpg" alt="Bodega">
                                <div class="carta-name">
                                    <h4>Bodega</h4>  
                                </div>
                            </a>
                        </div>
                        <div class="carta-container">
                            <a href="#">
                                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1612449910/te-tonic-1_f6vl8c.jpg" alt="Bebidas">
                                <div class="carta-name">
                                    <h4>Bebidas</h4>  
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
