<div class="cartas-background">
    <div class="main-container">
        <div class="sec-container">
            <div class="third-container">
                <%= render 'shared/breadcrumbs' %>
                <%= render 'shared/meal_carta_show' %>
            </div>
        </div>
    </div>
</div>