<div class="footer">
    <div class="footer-main-box">
        <div class="footer-box">
            <div class="box-logo">
                <img id="nav-brand"src="https://res.cloudinary.com/dqstmox0s/image/upload/v1606832752/degustar/components/Logo_sioczo.svg" alt="logo">
            </div>
            <div class="box-description">
                <p class= "footer-p-font footer--p">Productos elaborados artesanalmente utilizando una selección de productos locales.</p>
            </div>
            <div class="box-socialmedia">
                <i class="fab fa-facebook-f socialmedia-icon"></i>
                <i class="fab fa-twitter socialmedia-icon"></i>
                <i class="fab fa-linkedin-in socialmedia-icon"></i>
                <i class="fab fa-instagram socialmedia-icon"></i>
                <i class="fab fa-youtube socialmedia-icon"></i>
            </div>
        </div>
    </div>
    <div class="footer-sec-box">
        <div class="footer-box">
            <div class="box-title">
                <h6 class="footer-h-font">Comprar online</h6>
            </div>
            <div class="box-list">
                <ul>
                    <li><a href="#" class="footer-a-font">Estado de la órden</a></li>
                    <li><a href="#" class="footer-a-font">Envío y entrega</a></li>
                    <li><a href="#" class="footer-a-font">Devoluciones</a></li>
                    <li><a href="#" class="footer-a-font">Opciones de pago</a></li>
                    <li><a href="#" class="footer-a-font">Contáctanos</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-box">
            <div class="box-title">
                <h6 class="footer-h-font">Información</h6>
            </div>
            <div class="box-list">
                <ul>
                    <li><a href="#" class="footer-a-font">Gift cards</a></li>
                    <li><a href="#" class="footer-a-font">Encuentra una tienda</a></li>
                    <li><a href="#" class="footer-a-font">Newsletter</a></li>
                    <li><a href="#" class="footer-a-font">Membresía</a></li>
                    <li><a href="#" class="footer-a-font">Comentarios</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-box contact-footer">
            <div class="box-title">
                <h6 class="footer-h-font">Contacto</h6>
            </div>
            <div class="box-list">
                <ul>
                    <li><a href="#" class="footer-a-font">contacto@degustar.com</a></li>
                    <li><a href="#" class="footer-a-font">Teléfono: + 34634324767</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="footer-main-box-mobile">
        <div class="footer-box-mobile">
            <div class="footer-main-box-mobile">
                <div class="box-logo">
                    <img id="nav-brand"src="https://res.cloudinary.com/dqstmox0s/image/upload/v1607428425/degustar/components/Component_498_1_qhggg2.svg" alt="logo">
                </div>
            </div>
            <div class="footer-sec-box-mobile">
                <div class="box-description">
                    <p class= "footer-p-font footer--p">Productos elaborados artesanalmente utilizando una selección de productos locales.</p>
                </div>
                <div class="box-socialmedia">
                    <i class="fab fa-facebook-f socialmedia-icon-mobile icon-padding"></i>
                    <i class="fab fa-twitter socialmedia-icon-mobile icon-padding"></i>
                    <i class="fab fa-linkedin-in socialmedia-icon-mobile icon-padding"></i>
                    <i class="fab fa-instagram socialmedia-icon-mobile icon-padding"></i>
                    <i class="fab fa-youtube socialmedia-icon-mobile"></i>
                </div>
            </div>
        </div>
    </div>
</div>
