    <div class="landing-background-image">
        <div class="landing-background-filter">
            <div class="main-container">
                <div class="landing-container">
                    <div class="landing-block">
                        <div class="landing-block-logo">
                            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1612343064/Restaurante%20website/Component_513_1_d60mcx.svg" alt="Logo">
                        </div>
                        <%= link_to(menus_path) do %>
                            <div class="landing-block-btn">
                                <p>Nuestra carta</p>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>