<div class="carta-show-meal">
    <div class="first-line">
        <div class="meal-title">
            <h5>Nigiris de salmón (3 u)</h5>
        </div>
        <div class="meal-price">
            <h5>8.40 €</h5>
        </div>
    </div>
    <div class="second-line">
        <div class="meal-allergens">
            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1612783355/Component_519_4_delp8f.svg" alt="Pescado">
        </div>
    </div>
</div>