<div class="cartas-background">
  <div class="main-container">
    <div class="sec-container">
      <div class="third-container">  
        <%= render 'shared/drink/breadcrumbs' %>
        <div class='menu-template' id='all' style='display:block'>
          <%= render 'shared/drink/drink_all' %>
        </div>
      </div>
    </div>
  </div>
</div>


