<div class="newsletter-section">
    <div class="newsletter-form">
        <h4 class="newsletter-h-font newsletter-title-web">Suscríbete a nuestra newsletter:</h4>
        <h4 class="newsletter-h-font newsletter-title-mobile">Newsletter</h4>

        <div class="newsletter-form-container">
            <input type="text" placeholder="Escribe tu e-mail" class="newsletter--input" name="subscribe">
            <input type="submit" value="subscribe" class="btn-newsletter">
        </div>
    </div>
    <div class="newsletter-image-filter">
    </div>
</div>