<div class="main-container">
    <div class="second-section-background fifth-section-background">
        <div class="sec-container">
            <div class="landing-card">
                <div class="landing-card-testimonial-title">
                    <h2>Best sushi ever</h2>
                </div>
                <div class="landing-card-welcome">
                    <p>
                        <i class="fas fa-quote-left quote left-quote"></i>
                    </p>
                    <p>
                        Bienvenidos a nuestro restaurante. Trabajamos cada día ser referentes de la auténtica cocina japonesa, recuperando sus sabores y utilizando productos de temporada de alta calidad y una cuidada elaboración.
                    </p>               
                    <p>
                        Esperamos que disfruten de una experiencia única, y puedan encontrarse con una cultura gastronómica milenaria.
                    </p>
                    <p class="right-quote">
                        <i class="fas fa-quote-right quote"></i>
                    </p>
                </div>
                <div class="landing-card-signature">
                    <p>
                        Tripadvisor
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>