<div class="main-container">
    <div class="third-section-card first-part">
        <div class="third-section-description">
            <div class="description-title">
                <h2>
                    Productos
                </h2>
                <h2>
                    frescos
                </h2>
            </div>
            <div class="title-decoration">
            </div>
            <p>
                Bienvenidos a nuestro restaurante. Trabajamos cada día ser referentes de la auténtica cocina japonesa, recuperando sus sabores y utilizando productos de temporada de alta calidad y una cuidada elaboración.
            </p>               
            <p>
                Esperamos que disfruten de una experiencia única, y puedan encontrarse con una cultura gastronómica milenaria.
            </p>
        </div>
        <div class="third-section-image">
            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/c_scale,w_684/v1612443191/Restaurante%20website/anthony-espinosa-InCMGusiAvA-unsplash_dhi5s4.jpg" alt="Sushi image">
        </div>
    </div>    
    <div class="third-section-card second-part">
        <div class="third-section-image">
            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/c_scale,w_684/v1612439695/danis-lou-jfZfdQtcH6k-unsplash_jgrvkt.jpg" alt="Restaurante image">
        </div>
        <div class="third-section-description">
            <div class="description-title">
                <h2>
                    Ambiente
                </h2>
                <h2>
                    único
                </h2>
            </div>
            <div class="title-decoration">
            </div>
            <p>
                Bienvenidos a nuestro restaurante. Trabajamos cada día ser referentes de la auténtica cocina japonesa, recuperando sus sabores y utilizando productos de temporada de alta calidad y una cuidada elaboración.
            </p>               
            <p>
                Esperamos que disfruten de una experiencia única, y puedan encontrarse con una cultura gastronómica milenaria.
            </p>
        </div>
    </div>    
    <div class="third-section-card third-part">
        <div class="third-section-description">
            <div class="description-title">
                <h2>
                    Cocina
                </h2>
                <h2>
                    auténtica
                </h2>
            </div>
            <div class="title-decoration">
            </div>
            <p>
                Bienvenidos a nuestro restaurante. Trabajamos cada día ser referentes de la auténtica cocina japonesa, recuperando sus sabores y utilizando productos de temporada de alta calidad y una cuidada elaboración.
            </p>               
            <p>
                Esperamos que disfruten de una experiencia única, y puedan encontrarse con una cultura gastronómica milenaria.
            </p>
        </div>
        <div class="third-section-image">
            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/c_scale,w_684/v1612439698/thomas-marban-EHK-EH1SRzQ-unsplash_cy0c95.jpg" alt="Chef image">
        </div>
    </div>
</div>