<section id="first-section">
    <div class="landing-background-image">
        <div class="landing-background-filter">
            <div class="main-container">
                <div class="landing-container">
                    <%#= link_to  'Sign in', new_user_session_path %>
                    <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                    <div class="landing-block">
                        <div class="landing-block-logo">
                            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1612343064/Restaurante%20website/Component_513_1_d60mcx.svg" alt="Logo">
                        </div>
                        <div class="landing-block-btn">
                            <a href="#">Reserva una mesa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="second-section">
    <%= render 'shared/welcome_card' %>
</section>
<section class="third-section">
    <div class="first-part">
        <div class="third-section-description">
            <h2></h2>
            <p></p>
        </div>
        <div class="third-section-image">
            <img src="" alt="">
        </div>
    </div>    
    <div class="second-part">
        <div class="third-section-image">
            <img src="" alt="">
        </div>
        <div class="third-section-description">
            <h2></h2>
            <p></p>
        </div>
    </div>    
    <div class="third-part">
        <div class="third-section-description">
            <h2></h2>
            <p></p>
        </div>
        <div class="third-section-image">
            <img src="" alt="">
        </div>
    </div>
</section>
<section class="fourth-section">
    <%= render 'shared/testimonial_card' %>
</section>
<section class="fifth-section">
    <%= render 'shared/newsletter' %>
    <%= render 'shared/footer' %>
</section>
