<section id="first-section">
    <div class="landing-background-image">
        <div class="landing-background-filter">
            <div class="main-container">
                <div class="landing-container">
                    <%#= link_to  'Sign in', new_user_session_path %>
                    <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                    <div class="landing-block">
                        <div class="landing-block-logo">
                            <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1612343064/Restaurante%20website/Component_513_1_d60mcx.svg" alt="Logo">
                        </div>
                        <div class="landing-block-btn">
                            <a href="#">Reserva una mesa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="second-section">
    <div class="second-section-background">
        <div class="landing-card">
            <div class="landing-card-logo">
                <img src="https://res.cloudinary.com/dqstmox0s/image/upload/v1612365944/Restaurante%20website/Component_163_1_lbtalh.svg" alt="logo">
            </div>
            <p>
                Bienvenidos a nuestro restaurante. Trabajamos cada día ser referentes de la auténtica cocina japonesa, recuperando sus sabores y utilizando productos de temporada de alta calidad y una cuidada elaboración.
                Esperamos que disfruten de una experiencia única, y puedan encontrarse con una cultura gastronómica milenaria.
            </p>
            <p>
                Kei Koyabashi - Chef de Takumi
            </p>
        </div>
    </div>
</section>



