<div class="main-container">
    <div class="sec-container">
        <div class="dashboard-title">
            <h2>Dashboard</h2>
        </div>
        <%= render 'shared/dashboard/meals' %>
        <%= render 'shared/dashboard/drinks' %>
    </div>
</div>