.nav-btn {
  background-color: $secondary-color;
  display: inline-block;
  padding: 10px 36px;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  p {
    color: $black;
    font-family: $btn-font;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-block-end: 0;
  }
}

.nav-btn:hover {
  background-color: $secondary-color;
  opacity: 0.8;
  a:hover {
    color: black;
  }
}

.landing-block-btn {
  background-color: $black;
  display: inline-block;
  padding: 12px 50px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border: 2px solid $white;
  p {
    color: $white;
    font-family: $btn-font;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-block-end: 0;
  }
}

.btn-newsletter {
  background-color: $black;
  border: 2px solid $white;
  border-radius: 30px;
  padding: 14px 22px;
  margin-left: 10px;
  color: $white;
  font-family: $btn-font;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.book-btn {
  text-align: center;
  margin-top: 30px;
  button {
    width: 300px;
    background-color: $black;
    padding: 12px 50px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid $white;
    color: $white;
    font-family: $btn-font;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-block-end: 0;
  }
}

@media (max-width: 1024px) {
  .nav-btn {
    padding: 14px 50px;
  }
}

@media (max-width: 340px) {
  .landing-block-btn {
    padding: 10px 45px;
  }
}
