.landing-background-image {
  background-image: url('https://res.cloudinary.com/dqstmox0s/image/upload/v1612364623/Restaurante%20website/sam-balye-H5K1Zj-8oF0-unsplash_ay66f6.jpg');
  background-size: cover;
  background-position-y: 20%;
  height: calc(100vh - 80px);
}

.landing-background-filter {
  background-color: rgba(0, 0, 0, 0.2);
  height: calc(100vh - 80px);
}

.landing-container {
  height: calc(100vh - 80px);
}

.landing-block {
  text-align: center;
  padding: calc((100vh / 2) - 120px) 0;
}

.landing-block-logo {
  margin-bottom: 50px;
}
