$background-color: rgba(10, 25, 47, 0.85);
$primary-color: #f2a753;
$secondary-color: #ffc481;
$third-color: rgb(63, 102, 193);

$white: rgb(251, 251, 251);
$black: rgba(10, 25, 47, 0.85);

nav {
  height: 80px;
  font-size: 14px;
  font-weight: 500;
  padding: calc((80px - 44px) / 2) 40px;
  background-color: $white;
}

.nav-content {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-elements {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.nav-responsive {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-sec-elements {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  margin-block-end: 0;
  width: 70%;
}

.burger-menu {
  display: none;
}

.back-arrow {
  display: none;
}

.back-arrow-nav {
  opacity: 0 !important;
}

.back-arrow-page {
  position: absolute;
  top: 10px;
  left: 10px;
}

.back-arrow {
  font-size: 24px;
  color: $black;
}

.language-selector {
  display: flex;
  align-items: center;
  p {
    margin-block-end: 0;
    padding-right: 5px;
  }
}

.burger-menu {
  cursor: pointer;
  div {
    width: 23px;
    height: 2px;
    background-color: $black;
    margin: 5px;
    margin-right: 0px;
    transition: all 0.3s ease;
  }
}

@media (max-width: 1024px) {
  body {
    max-width: 100vw !important;
    overflow-x: hidden !important;
    margin: 0px;
  }

  html {
    overflow-x: hidden !important;
  }

  #wrapper {
    position: absolute;
    width: 100%;
    overflow-x: hidden !important;
  }

  nav {
    padding: calc((80px - 41px) / 2) 40px;
  }

  .nav-responsive {
    position: absolute;
    right: 0px;
    height: calc(100vh - 80px);
    top: 80px;
    align-items: top;
    margin-block-start: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(10, 25, 47);
    align-items: center;
    width: 100vw !important;
    transform: translateX(100%);
  }
  .nav-links {
    display: flex;
    flex-direction: column;
  }

  .nav-responsive {
    li {
      opacity: 0;
    }
    .nav-sec-elements {
      opacity: 0;
    }
  }

  .nav-elements {
    width: fit-content;
  }

  .nav-links {
    padding-inline-start: 0;
    width: auto;
    height: 70%;
    text-align: center;
  }

  .nav-sec-elements {
    flex-direction: column;
    width: auto;
    height: 30%;
    justify-content: space-around;
  }

  .language-selector {
    margin: 0 auto;
  }

  .burger-menu {
    display: block;
  }

  .back-arrow {
    display: block;
  }

  .nav-font {
    font-size: 18px;
  }

  .language-selector {
    color: white;
  }
}

@media (max-width: 524px) {
  nav {
    nav {
      padding: calc((80px - 41px) / 2) 10px;
    }
  }
}

.nav-active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-4px, 6px);
  }
}

.toggle {
  .line2 {
    opacity: 0;
  }
}

.toggle {
  .line3 {
    transform: rotate(45deg) translate(-4px, -6px);
  }
}
