// NEWSLETTER

.newsletter-section {
  position: relative;
  // margin-bottom: 25px;
  width: 100%;
  background-size: cover;
  background-position: 40% 0%;
}

.newsletter--input {
  padding: 10px 90px 14px 20px;
  border: none;
  border-radius: 30px;
}

.newsletter--input:focus,
.newsletter--input:hover,
.newsletter--input:active {
  outline: none;
}

.newsletter-form-container {
  margin-top: 30px;
}

.newsletter-h-font {
  color: white;
  font-size: 28px;
  font-family: $headers-font;
}

@media (min-width: 512px) {
  .newsletter-section {
    background-image: url('https://res.cloudinary.com/dqstmox0s/image/upload/v1612441754/jason-leung-poI7DelFiVA-unsplash_me0il5.jpg');
    height: 270px;
    background-position-y: center;
  }

  .newsletter-form {
    position: absolute;
    top: 75px;
    right: 50px;
  }

  .newsletter-image-filter {
    height: 270px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .newsletter-title-mobile {
    display: none;
  }
}

@media (max-width: 512px) {
  .newsletter-section {
    background-color: $light-orange;
    padding: 30px 10px;
  }

  .newsletter-h-font {
    color: $black;
  }

  .newsletter--input {
    padding: 10px 50px 14px 20px;
  }

  .newsletter-title-web {
    display: none;
  }
}
@media (max-width: 413px) {
  .btn-newsletter {
    padding: 11px 12px;
    margin-left: 5px;
  }

  .newsletter--input {
    padding: 8px 12px 11px 12px;
  }
}
